<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="MessageChainExe2.actionSet"
            label="Message Chain"
            visible="true">
         <menu
               id="messageChain"
               label="Message Chain">
            <separator
                  name="Message Chain">
            </separator>
         </menu>
         <action
               class="MessageChainExe2.DialogMC"
               icon="icons/sample.gif"
               id="plugin.splmetrics.actions.numberOfLines"
               label="Execute"
               menubarPath="splMetrics/sampleGroup"
               toolbarPath="splMetrics"
               tooltip="Execute">
         </action>
      </actionSet>
   </extension>

</plugin>
